body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Left Section Styles */
#left-section {
    background-image: url('../src/Assets/Images/signIn_page.jpg');
    /* Add the image path here */
    background-size: cover;
    background-position: center;
    padding: 50px;
}

/* Right Section Styles */
#right-section {
    background-color: #f4f9f9;
    /* Light background color */
}

/* Custom Button Styles */
.btn-dark {
    background-color: #000;
    color: #fff;
}

.btn-light {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
}

/* ------ navbar ------- */
.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
    margin: 0 15px;
}

.dropdown-toggle img {
    width: 30px;
    height: 30px;
}

/* ---------- button ------ */
.gradient-btn {
    background: linear-gradient(135deg, #000 0%, #0d775e 100%);
    border: none;
    padding: 15px 30px !important;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.gradient-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400%;
    height: 400%;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.75s ease;
    transform: translate(-50%, -50%) rotate(45deg);
}

.gradient-btn:hover::before {
    width: 0;
    height: 0;
}

.btn-text {
    position: relative;
    z-index: 1;
}

/* ------------------- */
